@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  /* cursor: pointer; */
  /* border-bottom: white 3px solid; */
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  background: #F3CBBD;
  transition: 0.5s;
  z-index: 2;
}

.showcase *
{
  margin-bottom: 20px;
}

.page
{
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;

  background: black;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
  
}

.text h1
{
  font-size: 5em;
  font-weight: 800;
  color: white;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.text h2
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  
}
.text h3
{
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
.text p
{
  font-size: 1.1em;
  color: #40393E;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #40393E;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}

.cart-btn {
    display: inline-block;
    font-size: 1em;
    background: blue;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s;
}

.social
{
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #40393E;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}




.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  left: 20px;    
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
  color: #40393E;
}

.container {
 
  margin: 0 auto;
  max-width: 100%;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 650px;
}

.modal-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 1px solid #333;
}

.modal-content {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  width: 100%;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.show-nav {
  transform: translateX(200px);
}

.show-modal {
  display: block;
}

@keyframes modalopen {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.product-img {
  width: 100%;
  max-width: 600px;
  border-radius: 3px;
  padding: 10px;
}

.product-info {
  color: white;
  width: 100%;
  max-width: 400px;
  justify-self: right;

}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-top: 10px;
  margin-right: 4px;
}

.submit-btn {
  margin-top: 40px;
  display: inline-block;
  background-color:white;
  padding: 4px 8px;
  border: 2px solid white;
  border-radius: 4px;
  color: black;
  font-weight: bold;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio {
  display: inline-block;
  background-color:white;
  padding: 4px 8px;
  border: 2px solid white;
  border-radius: 4px;
  color: black;
  margin-top: 10px;
}

input[type="radio"]:checked + label {
  background-color:black;
  color: white;
}

select {
  display: inline-block;
  background-color:white;
  padding: 4px 8px;
  border: 2px solid white;
  border-radius: 4px;
  color: black;
  margin-top: 10px;
}

input[type=text] {
  display: inline-block;
  background-color:white;
  padding: 4px 8px;
  border: 2px solid white;
  border-radius: 4px;
  color: black;
  margin-top: 10px;
  width: 100%;
}

input[type=email] {
  display: inline-block;
  background-color:white;
  padding: 4px 8px;
  border: 2px solid white;
  border-radius: 4px;
  color: black;
  margin-top: 10px;
  width: 100%;
}

.test {
  color: white;
  display: block;
  text-align: center;
}

/* .product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
} */

.how {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  color: #40393E;
}

.steps {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 300px;
  text-align: center;
  border-radius: 2px;

}

span {
  font-size: 2rem;
  font-weight: bold;
}

.designs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: #E5E4E5;
  padding-top: 20px;
}

.design {
  margin: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.design img {
  max-width: 100%;
  padding-bottom: 10px;
  border-radius: 10px;
}

.design-text {
  display: flex;
  align-items: space-between;
  justify-items: center;
}


.design-text h4 {
  width: 50%;
  color: #40393E;
  display: inline;
  font-weight: 600;
  
}

.design-text a {
  width: 50%;
  text-align: center;
  text-decoration: none;
  padding: 2px 5px;
  /* border: 1px solid #40393E; */
  border-radius: 15px;
  color: #40393E;
  
}

.design-text p {
  text-align: right;
  border: 2px solid white;
  width: min-content;
  float: right;
  background-color:#40393E;
  padding: 4px 8px;
  /* border: 1px solid #40393E; */
  border-radius: 15px;
  color: white;
}












@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 10px;
  }

  .logo {
    margin-top: -20px;
  }

  .text h1 {
    font-size: 2.5rem;
    margin-top: 25px;
  }
  .text h2
  {
    font-size: 2em;
  }
  .text h3
  {
    font-size: 2em;
  }
  .text p
  {
    font-size: 1rem;
  }
  .designs {
    display: grid;
    grid-template-columns: 1fr;
  }
  .how {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product-info {
    justify-self: center;
  }
  
}